template(name='layout')
    +menu
    .container
        +yield

template(name='menu')
    nav.green: .nav-wrapper
        ul.left
            li: a Home
            li: a(href='/list') List
            li: a(href='/create') Create
        a.brand-logo.center Meteor CRUD
        ul.right
            li: a= userEmail
            unless loggedIn
                li: a(href='sign-in') Login
                li: a(href='sign-up') Register
            if loggedIn
                li: a(href='sign-out') Logout

template(name='loading')
    h5 Loading

template(name='home')
    h3 Home Page

template(name='list')
    h3 Data List
    table
        thead
            tr
                th Name
                th Age
                th Address
                th Action
        tbody
            each datas
                tr
                    td= name
                    td= age
                    td= address
                    td
                        a.btn.dropdown-button(data-activates='drop-{{_id}}') Action
                        ul.dropdown-content(id='drop-{{_id}}')
                            li: a(href='/read/{{_id}}') Read
                            li: a(href='/update/{{_id}}') Update
                            li: a#remove Delete
                        .modal#removeModal
                            .modal-content
                                h4 Delete?
                                p Are you sure to delete this document?
                            .modal-footer
                                a.modal-action.modal-close.btn.red.right#doRemove Agree
                                a.modal-action.modal-close.btn.right Cancel

template(name='create')
    h3 Create Data
    +quickForm(
        collection = 'crud'
        schema = crudS
        type = 'insert'
        id = 'insertForm'
    )

template(name='read')
    h3 Read Data
    br
    p= data.name
    p= data.age
    p= data.address

template(name='update')
    h3 Update Data
    +quickForm(
        collection = 'crud'
        schema = crudS
        type = 'update'
        id = 'updateForm'
        doc = data
    )
