template(name='layout')
    head
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'/>
    body
        +menu
        .container
            +yield

template(name='menu')
    .navbar-fixed: nav.green: .nav-wrapper
        ul.left.hide-on-med-and-down
            li: a(href='/') Home
            li: a(href='/list') List
            if loggedIn
                li: a(href='/create') Create
        a.button-collapse(data-activates='slide-out')
            i.mdi.mdi-menu
        a.brand-logo.center Meteor CRUD
        ul.right.hide-on-med-and-down
            unless loggedIn
                li: a(href='sign-in') Login
                li: a(href='sign-up') Register
            if loggedIn
                li: a= userEmail
                li: a(href='sign-out') Logout
    ul.side-nav#slide-out
        li: a(href='/') Home
        li: a(href='/list') List
        li: a(href='/create') Create
        li: .divider
        unless loggedIn
            li: a(href='sign-in') Login
            li: a(href='sign-up') Register
        if loggedIn
            li: a= userEmail
            li: a(href='sign-out') Logout

template(name='loading')
    .progress.center: .indeterminate

template(name='home')
    h3 Home Page

template(name='list')
    .row
        .col.m6
            h3 Data List
        .col.m6
            .input-field
                input#search(placeholder='Search')
    table.highlight
        thead
            tr
                th Name
                th Age
                th Address
                if actionable
                    th Action
        tbody
            each datas
                tr
                    td= name
                    td= age
                    td= address
                    if actionable
                        td
                            a.btn-flat.dropdown-button(data-activates='drop-{{_id}}')
                                i.mdi.mdi-menu
                            ul.dropdown-content(id='drop-{{_id}}')
                                li: a(href='/read/{{_id}}') Read
                                li: a(href='/update/{{_id}}') Update
                                li: a.openDeleteModal Delete
                            .modal(id='deleteModal-{{_id}}')
                                .modal-content
                                    h4 Delete?
                                    p Are you sure to delete this document?
                                .modal-footer
                                    a.modal-action.modal-close.btn.red.right.doRemove Agree
                                    a.modal-action.modal-close.btn.right Cancel
    if empty
        p There's no data to be displayed.

template(name='create')
    h3 Create Data
    +quickForm(
        collection = 'crud'
        schema = crudS
        type = 'insert'
        id = 'insertForm'
    )
    a.btn.orange.right(href='/list')
        i.mdi.mdi-keyboard-return

template(name='read')
    h3 Read Data
    br
    .row
        .col.m6
            table
                tr
                    td: b Patient Name
                    td= data.name
                tr
                    td: b Patient Age
                    td= data.age
                tr
                    td: b Patient Address
                    td= data.address
        .col.m6
            unless empty
                +c3(myChart)
            if empty
                p There's no chart data to be displayed.
    br
    if addDetail
        h4 Add detail
        +quickForm(
            collection = 'child'
            schema = childS
            type = 'insert'
            id = 'insertChild'
        )
        a.btn.red.right.addDetail Close
    br
    unless addDetail
        a.btn.blue.right.addDetail Add Detail
    h4 Details List
    table
        thead
            tr
                th Title
                th Amount
                th Remove
        tbody
            each childs
                tr
                    td= title
                    td= amount
                    td: a.btn.red.removeDetail: i.mdi.mdi-close
    if empty
        p There's no details for this data
    a.btn.orange.right(href='/list')
        i.mdi.mdi-keyboard-return
    p .

template(name='update')
    h3 Update Data
    +quickForm(
        collection = 'crud'
        schema = crudS
        type = 'update'
        id = 'updateForm'
        doc = data
    )
    a.btn.orange.right(href='/list')
        i.mdi.mdi-keyboard-return
